<?xml version="1.0"?>
<config>
    <modules>
        <MageDoc_EnhancedPoll>
            <version>0.1.0</version>
        </MageDoc_EnhancedPoll>
    </modules>
    <global>
        <models>
            <magedoc_poll>
                <class>MageDoc_EnhancedPoll_Model</class>
                <resourceModel>magedoc_poll_resource</resourceModel>
            </magedoc_poll>
            <magedoc_poll_resource>
                <class>MageDoc_EnhancedPoll_Model_Resource</class>
            </magedoc_poll_resource>
        </models>
        <blocks>
            <magedoc_poll>
                <class>MageDoc_EnhancedPoll_Block</class>
            </magedoc_poll>
            <adminhtml>
                <rewrite>
                    <poll_edit_tab_form>MageDoc_EnhancedPoll_Block_Adminhtml_Poll_Edit_Tab_Form</poll_edit_tab_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <magedoc_poll>
                <class>MageDoc_EnhancedPoll_Helper</class>
            </magedoc_poll>
        </helpers>
        <resources>
           <magedoc_poll_setup>
               <setup>
                   <module>MageDoc_EnhancedPoll</module>
               </setup>
           </magedoc_poll_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <MageDoc_EnhancedPoll>
                    <file>magedoc_poll.xml</file>
                </MageDoc_EnhancedPoll>
            </updates>
        </layout>
        <events>
            <core_abstract_save_before>
                <observers>
                    <bookkeeping>
                        <class>magedoc_poll/observer</class>
                        <method>core_abstract_save_before</method>
                    </bookkeeping>
                </observers>
            </core_abstract_save_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <enhanced_poll before="Mage_Adminhtml">MageDoc_EnhancedPoll_Adminhtml</enhanced_poll>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>